*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
/*grid-column: 1 / -1; para abarcar todas las columnas.*/
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
        "header header header"
        "nav nav  nav"
        "main main aside"
        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: stretch;
    grid-template-rows: auto 40px auto auto; /* fila 1 300px, fila2 100px, fila3 100px*/
}
.header{
    grid-area: header;
    border:2px solid black;
    background-color:black;
    justify-self: stretch;
    padding: 5px;
    color: white;
    }
.nav{
    grid-area: nav;
    border:2px solid black;
    justify-self: stretch;
    background-color: rgb(96, 97, 96);
    display: grid;
    grid-template-columns: 1fr 1fr;
}   
.main{
    grid-area: main;
    border:2px solid black;
    justify-self: stretch;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #70bed4;
    border: 2px solid black;
    gap: 10px;
}
.main-1, .main-2, .main-3, .main-4{
    border: 2px solid black;
}
.main-1{
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid black;
}
.main-1 h3{
    text-align: center;
    align-self: center;
    font-size: 40px;
}

.main-2{
     display: grid;
    grid-template-columns: 1fr;
}

.main-2 ul{
    width: 90%;
    margin-left: 35px;
    font-size: 30px;
}
.main-2 h3{
    text-align: center;
    align-self: center;
    font-size: 40px;
}
.main-3{
     display: grid;
    grid-template-columns: 1fr;
}

.main-3 ul{
    width: 90%;
    margin-left: 35px;
    font-size: 30px;
}
.main-3 h3{
    text-align: center;
    align-self: center;
    font-size: 40px;
}
.main-4{
     display: grid;
    grid-template-columns: 1fr;
}

.main-4 ul{
    width: 90%;
    margin-left: 35px;
    font-size: 30px;
}
.main-4 h3{
    text-align: center;
    align-self: center;
    font-size: 40px;
}
.rosa{
    color:#e6c9cd;
}
.aside{
    grid-area: aside;
    border:2px solid black;
    justify-self: stretch;
    background-color: #70bed4;
}
.footer{
    grid-area: footer;
    border:2px solid black;
    justify-self: stretch;
    background-color: #808080;
}

/* barra de navegacion */
.nav-izq{
    display: flex;
    align-items:center;
}
.nav ul{
    display: flex;
    
    justify-content: space-between;
    margin-left: 20px;
    
}
.nav ul li{
    list-style: none;
    margin-right: 20px;
   
}

.nav ul li a{
    text-decoration: none;
    color: pink;
}
.nav ul li a:hover{
    color: white;
}
.nav-der{
    display: flex;
    justify-content: end;
}